.header {
  @include flex_justify-align(flex, space-between);
  padding: 0 20px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  border-radius: 3px;
  margin: 20px 0;
  box-shadow: 0 0 2px rgb(0,0,0,.3);
  background-image: -ms-linear-gradient(top, #f2f2f2, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e4e4e4);
  background-image: -o-linear-gradient(top, #f2f2f2, #e4e4e4);
  background-image: linear-gradient(top, #f2f2f2, #e4e4e4);
  background-image: -moz-linear-gradient(top, #f2f2f2, #e4e4e4);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e4e4e4', GradientType=0);
  .logo {
    cursor: pointer;
    @include WorldTextFontSize(22px, 20px, 16px);
    &:hover {
      .logo-value {
        color: #a45f93;;
      }
      .logo-hover {
        color: black;
      }
    }
    .logo-value {
      color: black;
    }
    .logo-hover {
      color: #a45f93;;
    }
    .logo-domain {
      @include WorldTextFontSize(16px, 14px, 14px);
      color: #8b95a4;
    }
  }
  .menu {
    @include flex_justify-align;
    .item {
      @include WorldTextFontSize(16px, 14px, 14px);
      padding: 15px 20px;
      color: black;
      text-shadow: 0 1px 0 white;
      &.active {
        color: #a45f93;
      }
      &:hover {
        color: #a45f93;
      }
    }
  }
}