// Example @font-face:
//@font-face {
//  font-family: 'FuturaPT-Regular';
//  src: local('FuturaPT-Regular'), local('FuturaPT-Regular'), url('fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype');
//  font-weight: 400;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'FuturaPT-Light';
//  src: local('FuturaPT-Light'), local('FuturaPT-Light'), url('fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype');
//  font-weight: 300;
//}

//Font
$SITE_FONT: 'Roboto';

//w: 900
$Font_Black: $SITE_FONT + '-Black'; //Heavy
//w: 800
$Font_ExtraBold: $SITE_FONT + '-ExtraBold'; //Ultra Bold
//w: 700
$Font_Bold: $SITE_FONT + '-Bold';
//w: 600
$Font_SemiBold: $SITE_FONT + '-SemiBold'; //Demi Bold
//w: 500
$Font_Medium: $SITE_FONT + '-Medium';
//w: 400
$Font_Regular: $SITE_FONT + '-Regular'; //Normal
//w: 300
$Font_Light: $SITE_FONT + '-Light';
//w: 200
$Font_ExtraLight: $SITE_FONT + '-ExtraLight'; //Ultra Light
//w: 100
$Font_Thin: $SITE_FONT + '-Thin';

// Text font-size
$_World_Text_FontSize: 15px;
$_World_Text_FontSize_Tablet: 14px;
$_World_Text_FontSize_Mobile: 12px;

@mixin WorldTextFontSize(
  $size: $_World_Text_FontSize,
  $tabletSize: $_World_Text_FontSize_Tablet,
  $mobileSize: $_World_Text_FontSize_Mobile
) {
  font-size: $size;

  @media screen and (max-width: 1024px) {
    font-size: $tabletSize;
  }
  @media screen and (max-width: 767px) {
    font-size: $mobileSize;
  }
}

// Text font color
$_World_Text_Color: white; // #dbdbdb
@mixin WorldTextColor(
  $color: $_World_Text_Color
) {
  color: $color;
}

//w: 900
@mixin FontBlack($font: $Font_Black) {
  font-family: $font, sans-serif;
  font-weight: 900;
}

//w: 800
@mixin FontExtraBold($font: $Font_ExtraBold) {
  font-family: $font, sans-serif;
  font-weight: 800;
}

//w: 700
@mixin FontBold($font: $Font_Bold) {
  font-family: $font, sans-serif;
  font-weight: 700;
}

//w: 600
@mixin FontSemiBold($font: $Font_SemiBold) {
  font-family: $font, sans-serif;
  font-weight: 600;
}

//w: 500
@mixin FontMedium($font: $Font_Medium) {
  font-family: $font, sans-serif;
  font-weight: 500;
}

//w: 400
@mixin FontRegular($font: $Font_Regular) {
  font-family: $font, sans-serif;
  font-weight: 400;
}

//w: 300
@mixin FontLight($font: $Font_Light) {
  font-family: $font, sans-serif;
  font-weight: 300;
}

//w: 200
@mixin FontExtraLight($font: $Font_ExtraLight) {
  font-family: $font, sans-serif;
  font-weight: 200;
}

//w: 100
@mixin FontThin($font: $Font_Thin) {
  font-family: $font, sans-serif;
  font-weight: 100;
}