.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  .not-found-container {
    text-align: center;
    font-weight: bold;
    .error-status {
      font-size: 40px;
      margin-bottom: 20px;
    }
    .error-description {

    }
  }
}