.settings {
  @include flex_justify-align(flex, space-between);

  .right-settings {
    @include flex_justify-align(flex, space-around);
    @include min-max_width(400px);
    background-color: rgba(43, 43, 43, 0.5);
    padding: 20px;
    border-radius: 4px;
    @include padding_left-right(0);
    margin: 15px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .logo-setting {
      text-align: center;

      .phpstorm-text {
        margin-top: 4px;
      }
    }

    .download-settings {
      text-align: center;

      .download {
        display: grid;
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }

        .download-archive {
        }
      }
    }
  }
}