.text_bold {
  font-weight: bold;
}

.text_italic {
  font-style: italic;
}

.text_underline {
  text-decoration: underline;
}

.text_keyboard {
  font-family: monospace, monospace;
  font-size: 1em;
}